
.SucessMessage button {
    font-family: 'Alegreya Sans SC';
    font-weight: 500;
    color: white;
    background-color: var(--glamblue);
    font-size: 1.5em;
    padding: .5em;
    border-radius: 10px;
    box-shadow: grey 2px 2px 1px;
    cursor: pointer;
    margin-top: 1em;
    transition: all .3s ease;
}

.SucessMessage button:hover {
    background-color: var(--glampink);
}