.EmptyTitle {
    text-align: center;
    font-family: 'Alegreya Sans SC';
    font-size: 2em;
    font-weight: 500;
}

.TitleContainer {
    margin: 1em auto;
    grid-template-columns: .5fr 1fr 2.5fr 1fr .7fr .7fr .7fr .5fr;
}

.FaqsContainer {
    margin: 1em auto;
    display: grid;
    grid-template-columns: .5fr 1fr 2.5fr 1fr .7fr .7fr .7fr .5fr;
    justify-items: center;
    align-items: center;
    width: 90%;
    height: 10em;
    background-color: hsla(193, 81%, 33%, 0.7);
    border-radius: 10px;
    padding: .5em;
}

.FaqsContainer p {
    margin: 1em;
    font-family: 'Alegreya Sans SC';
    color: white;
    font-size: 1.2em;
}

#Answer {
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#Answer::-webkit-scrollbar {
    width: 12px;
}

#Answer::-webkit-scrollbar-track {
    background: var(--glamblue); 
    border-radius: 10px;
}

#Answer::-webkit-scrollbar-thumb {
    background: #ffffff; 
    border-radius: 6px;
    padding: 2px;
    border: solid 4px var(--glamblue);
}

#Answer::-webkit-scrollbar-thumb:hover {
    background: #d4d4d4; 
}



