.FormContainer {
    width: 75%;
    margin: 6em auto;
}

.FormContainer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.InputContainerAddFaq {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.InputContainerAddFaq input {
    text-align: left;
    font-family: 'Alegreya Sans SC';
    width: 98.5%;
    font-size: 2em;
    font-weight: 600;
    padding: 1em 0 1em .5em;
    border-radius: 10px;
    transition: all .3s ease;
    background-color: rgb(215, 215, 215);
}

.InputContainerAddFaq input::placeholder {
    color: black;
}


.ql-toolbar {
    border-radius: 10px 10px 0 0;
    background-color: white;
}

.ql-container {
    border-radius: 0 0 10px 10px;
    height: 20em;
}

#answer .ql-editor {
    height: 15em;
    font-family: 'Alegreya Sans SC';
    font-size: 2em;
    font-weight: 600;
}

#answer  {
    width: 100%;
    border-radius: 10px;
    background-color: rgb(215, 215, 215);
    margin: 2em auto;
    border: solid 2px black;
}

.RadioFaq {
    width: 50%;
}

.ButtonContainerAddFaq button {
    background-color: var(--glamblue);
    padding: .5em;
    margin: 2em;
    font-size: 1.5em;
    color: white;
    font-family: 'Alegreya Sans SC';
    border-radius: 10px;
    transition: all .3s ease;
    cursor: pointer;
}

.ButtonContainerAddFaq button:hover {
    background-color: var(--glampink);
}

.SucessMessage {
    width: 80%;
    margin: 0 auto;
}

.SucessMessage span {
    color: var(--glampink);
}