.TopFormContainer {
    display: flex;
    justify-content: space-between;
}

.TopFormContainer label {
    display: none;
}

.TopFormContainer input {
    width: 47.2%;
    margin-left: 0;
    margin-right: 0;
}

.SocialsFormContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 2em;
}

.SocialsFormContainer label {
    display: none;
}

.SocialsFormContainer input {
    width: 96%;
}

