.AddUserContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AddUserContainer form {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
}

.AddUserContainer button {
    width: 100%;
}


.AddUserContainer label {
    font-family: 'Alegreya Sans SC';
    font-size: 2em;
    font-weight: 600;
    margin-bottom: .3em;
    margin-top: .3em;
}

.AddUserContainer input {
    font-family: 'Alegreya Sans SC';
    font-size: 2em;
    padding: .3em;
    font-weight: 600;
    width: -webkit-fill-available;
    border-radius: 10px;
    transition: all .3s ease;
    background-color: rgb(215, 215, 215);
    
}

.AddUserContainer input:hover, 
 .AddUserContainer input:focus{
    background-color: var(--glampink);
    
}

.InputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.RoleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.RadioContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.RadioContainer div {
    display: flex;
    align-items: center;
}

.RadioContainer input {
    margin: 0 .5em 0 0;
    width: 30px;
    height: 30px;
}

.RadioContainer label {
    font-family: 'Alegreya Sans SC';
    font-size: 1.5em;
    font-weight: 400;
}

.AddUserContainer button {
    font-family: 'Alegreya Sans SC';
    font-size: 1.5em;
    font-weight: 800;
    color: white;
    background-color: var(--glamblue);
    border-radius: 10px;
    padding: 1em;
    cursor: pointer;
    transition: all .3s ease;
    margin: 1em 0 1em 0;
}

.AddUserContainer button:hover {
    background-color: var(--glampink);
}

.SucessMessage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SucessMessage h1 {
    font-family: 'Alegreya Sans SC';
    font-size: 2em;
    font-weight: 600;
}

.SucessMessage p {
    font-family: 'Alegreya Sans SC';
    font-size: 1.5em;
    font-weight: 500;
}
