.MenuContainer {
    position: sticky;
    top: 0;
    width: 20vw;
    height: 100vh;
    margin: 0;
    background-color: var(--glamblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.ImgContainer {
    margin: 1em;
}

.ImgContainer img {
    width: 8vw;
    transition: all .3s ease;
    padding: 10px;
}

.ImgContainer img:hover {
    background-color: #0c5f76;
    border-radius: 10px;
}

.ButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.ButtonContainer a {
    width: 100%;
    margin: .5em 0 .5em 0;
}

.ButtonContainer button {
    padding: .5em;
    width: 100%;
    font-family: 'Alegreya Sans SC';
    font-size: 1.5em;
    font-weight: 1000;
    color: white;
    background-color: var(--glampink);
    border-radius: 10px;
    -webkit-text-stroke: 1px black;
    cursor: pointer;
    transition: all .3s ease;
}

.ButtonContainer button:hover {
    background-color: #c12050;
    box-shadow: 0px 0px 20px var(--glampink);
}

.BottomContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    margin-top: 1.5em;
}

.BottomContainer a {
    width: 2em;  
    padding: 10px;
}

.BottomContainer a:hover {
    background-color: #0c5f76;
    border-radius: 10px;
}

.BottomContainer button {
    margin: .5em 0 .5em 0;
    padding: 1em;
    font-family: 'Alegreya Sans SC';
    font-size: 1em;
    font-weight: 600;
    color: white;
    background-color: #0a4a5c;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease;
}

.BottomContainer button:hover {
    background-color: var(--glampink);
}